@import 'variables';

.grey-darken-1--text {
  color: $adahlia-grey !important;
}

.italic {
  font-style: italic;
}

.grey-darken-1--link {
  color: $adahlia-grey !important;
}

.grey-darken-1--link:hover {
  color: $adahlia-red !important;
}


.v-window__prev, .v-window__next {
  background-color: $adahlia-red;
}